.editor-block {
    position: absolute;
}

.editor-block-focus {
    border: 1px #70c0ff solid;
}

.assistDom {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999;
    top: 0;
}