<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <div id="app">
    <div>
      <input type="text" v-model="name" placeholder="请输入姓名" />
      <input type="text" v-model="age" placeholder="请输入年龄" />
      <input type="text" v-model="phone" placeholder="请输入电话" />
    </div>
    <div>
      <p v-if="nameShow">姓名：
        <span>{{name}}</span>
      </p>
      <p v-if="ageShow">年龄：
        <span>{{age}}</span>
      </p>
      <p v-show="phoneShow">电话：
        <span>{{phone}}</span>
      </p>
    </div>
  </div>
  <div id="gz"></div>
</body>
<script src="https://unpkg.com/@vue/reactivity@3.0.5/dist/reactivity.global.js"></script>
<!-- <script type="module">
  import utils from "./2.js"
  utils.registerError((error) => {
    console.log(error)
  })
  utils.foo(() => {
    // try {
    //   console.log(a)
    // } catch (e) {
    //   console.log(e)
    // }
    console.log(a)
  })
</script> -->
<script>
  const { effect, ref } = VueReactivity;
  console.log(ref)


  function render(dom, container) {
    container.innerHTML = dom
  }

  const count = ref(1)
  console.log(count)

  effect(() => {
    render(`<h1>${count.value}</h1>`, document.getElementById("gz"))
  })
  // let vnode = {
  //   tag: "div",
  //   props: {
  //     class: "first-class",
  //   },
  //   children: [{
  //     tag: "h1",
  //     props: { class: "first-class-1", onClick: () => { console.log("这就是人生1") } },
  //     children: "这就是人生1"
  //   },
  //   {
  //     tag: "h2",
  //     props: { class: "first-class-2", onClick: () => { console.log("这就是人生2") } },
  //     children: "这就是人生2"
  //   }]
  // }

  // // 渲染器
  // function render(vnode, container) {
  //   let el = document.createElement(vnode.tag);
  //   for (const key in vnode.props) {
  //     // 属性是事件
  //     if (key.startsWith("on")) {
  //       el.addEventListener(key.substr(2).toLowerCase(), vnode.props[key], false)
  //     }
  //     // 属性不是事件
  //     if (key.startsWith("class")) {
  //       el.setAttribute("class", vnode.props[key])
  //     }
  //   }
  //   if (vnode.children) {
  //     // 字符串
  //     if (typeof vnode.children === "string") {
  //       let doc = document.createTextNode(vnode.children)
  //       el.appendChild(doc)
  //     }
  //     // 数组
  //     else if (Array.isArray(vnode.children)) {
  //       vnode.children.map(node => render(node, el))
  //     }
  //   }
  //   container.appendChild(el)
  // }
  // let gz = document.querySelector("#gz")
  // render(vnode, gz)
</script>
<!-- <script src="1.js"></script> -->
<!-- <script>
  let app = new Vue("#app", {
    name: "",
    age: "",
    phone: "",
    nameShow: true,
    ageShow: true,
    phoneShow: false
  });
</script> -->

</html>